<div class="container mt-5">
   <div class="text-center">
       <h1><i class="fa-solid fa-heart"></i> ヘルスキッチン へようこそ！</h1>
       <p class="lead mt-4">健康的な料理レシピを検索・投稿できるコミュニティサイトです。<br>
       料理好きな方々が、手軽に健康的な食生活を実現し、サポートし合う場を提供します。</p>
       
       <h2 class="mt-5">サイトテーマ</h2>
       <p class="display-6 fw-bold">「健康的な料理を、もっと身近に」<br>
       簡単で美味しい健康料理のアイデアを提供し、ユーザーは自分のレシピを投稿して新しい発見やアドバイスを得られます。</p>
       
       <h2 class="mt-5">ターゲットユーザー</h2>
       <ul class="list-group mb-4">
           <li class="list-group-item">健康的な料理を楽しみたい方</li>
           <li class="list-group-item">体重管理やダイエットに取り組んでいる方</li>
       </ul>
       
       <h2 class="mt-5">主な活用シーン</h2>
       <ul class="list-group mb-4 fw-bold">
           <li class="list-group-item">簡単にレシピを検索</li>
           <li class="list-group-item">栄養素やカロリーを確認</li>
           <li class="list-group-item">自分のレシピを投稿</li>
           <li class="list-group-item">SNSでのコミュニケーション</li>
       </ul>
       
       <p>ヘルスキッチンは、全ての方々に向けたオープンなコミュニティです。ぜひ参加して、健康的な料理ライフを楽しんでください！</p>
   </div>
</div>