<%# app/views/shared/_error_messages.html.erb %>
<% if resource.errors.any? %>
  <div class="alert alert-danger">
    <h5 class="alert-heading mb-3">
      <i class="fa-solid fa-exclamation-circle me-2"></i>
      <%= resource.errors.count %>件のエラーが発生しました
    </h5>
    <ul class="mb-0 ps-4">
      <% resource.errors.full_messages.each do |message| %>
        <li class="mb-1"><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>